<main>
  <p class='mt-2 ms-4'> Page list: </p>
  <h3 class='text-center text-uppercase pb-2'>
    Resume-pet
  </h3>
  <div class='col-6'>
    <div class='card ms-2'>
      <a href='js' target='_blank' class='btn btn-primary'>
        js
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a href='bio' target='_blank' class='btn btn-primary'>
        bio
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a href='web' target='_blank' class='btn btn-primary'>
        web
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a href='car' target='_blank' class='btn btn-primary'>
        car
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a href='mac' target='_blank' class='btn btn-primary'>
        mac
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a
        href='summary'
        target='_blank'
        class='btn btn-primary'
      >
        summary
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a
        href='skills'
        target='_blank'
        class='btn btn-primary'
      >
        skills
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a
        href='education'
        target='_blank'
        class='btn btn-primary'
      >
        education
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a
        href='work'
        target='_blank'
        class='btn btn-primary'
      >
        work
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a
        href='person'
        target='_blank'
        class='btn btn-primary'
      >
        person
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a
        href='task21'
        target='_blank'
        class='btn btn-primary'
      >
        task21
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='task22'
        target='_blank'
        class='btn btn-primary'
      >
        task22
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='task31'
        target='_blank'
        class='btn btn-primary'
      >
        task31
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='facebook'
        target='_blank'
        class='btn btn-primary'
      >
        facebook
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='program'
        target='_blank'
        class='btn btn-primary'
      >
        program
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='shophome'
        target='_blank'
        class='btn btn-primary'
      >
        shophome
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='shopproduct'
        target='_blank'
        class='btn btn-primary'
      >
        shopproduct
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='shopnews'
        target='_blank'
        class='btn btn-primary'
      >
        shopnews
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='shoporder'
        target='_blank'
        class='btn btn-primary'
      >
        shoporder
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='shopcart'
        target='_blank'
        class='btn btn-primary'
      >
        shopcart
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='shopprofile'
        target='_blank'
        class='btn btn-primary'
      >
        shopprofile
      </a>
    </div>
    <div class='card mt-2 ms-2'>
      <a
        href='shopreview'
        target='_blank'
        class='btn btn-primary'
      >
        shopreview
      </a>
    </div>

    <div class='card mt-2 ms-2'>
      <a
        href='shopcatalog'
        target='_blank'
        class='btn btn-primary'
      >
        shopcatalog
      </a>
    </div>

  </div>
</main>