{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main>  
  {{#with main}}
   <article>
      {{#with summary}} 
         <div>
          {{> title big=true data=title}}
          </div>
            <p> {{text}} </p>
      {{/with}}
   </article>
   <article>
      {{#with experience}}
            <div>
              {{>title big=false data=title}}
            </div>
              <p> {{text}}</p>
      {{/with}}
   </article>
    {{/with}}
</main>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}