<header>
  <div class='row'>
    <div class='col-7 mt-3 pe-2'>
      <h4> Nataliya Kaploukha </h4>
    </div>
    <div class='col-5'>
      <h4 class='text-end mt-3 me-2'> Resume project </h4>
    </div>
  </div>
  <hr class='mt-3' />
</header>