<footer>
 <div class="row">

   {{#each footer}}

    <div class="col-2 flex-column me-3 ps-1">

      <div class="nav">
        {{#each this}}
        <a href="this.link" target="_blank" class="nav-link {{#if @last}}
         disabled {{/if}}">{{this.text}}</a>                
        {{/each}}
      </div>

    </div>

  {{/each}}
  
 </div>
</footer>